.darkmode {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1000;
  width: 20px;
  height: 20px;
  margin: 0;

  & > .toggle {
    display: none;
    box-sizing: border-box;
  }

  & > .darkmode-button {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  & svg {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    fill: var(--darkgray);
    transition: opacity 0.3s ease;
    
    &:hover {
      fill: var(--secondary);
    }
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .toggle ~ label {
  & > #dayIcon {
    opacity: 0;
  }
  & > #nightIcon {
    opacity: 1;
  }
}

:root .toggle ~ label {
  & > #dayIcon {
    opacity: 1;
  }
  & > #nightIcon {
    opacity: 0;
  }
}
